@page
@model Name.Pages.Titles.TitleHeaderNames


@functions {

	public string getOperator()
	{

		List<string> op = new List<string>();
		op.Add("+");
		op.Add("-");
		op.Add("*");
		op.Add("/");

		Random random = new Random();
		int countRandom = random.Next(op.Count);

		return op[countRandom];
	}



	int num1 = WebApplication3.Nums.NumsNum(0, 10);
	int num2 = WebApplication3.Nums.NumsNum(0, 10);

}

<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="~/css/MathPractice.css" />
	<title>@Model.mathPracticeLabel</title>
</head>

<body>
	<header>
		<div>
			<a href="/MathPractice">@Model.mathPracticeWelcome</a>
		</div>

		<nav>
			<div>
				<ul>
					<li>
						<a href="/index">Home</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<main>



		@{
			string op = getOperator();

			@if (op.Equals("+"))
			{


				<h2 id="num1">Number 1: @num1</h2>
				<h2 id="num2">Number 1: @num2</h2>

				<input id="input" type="text" placeholder="Enter Answer: " />
				<div class="containerButtons">
				

					<button onclick="getAdd()">ADD</button>

				</div>
			}

			@if (op.Equals("-"))
			{

				<h2 id="num1">Number 1: @num1</h2>
				<h2 id="num2">Number 1: @num2</h2>

				<input id="input" type="text" placeholder="Enter Answer: " />

				<div class="containerButtons">
					<button>SUB</button>

				</div>
			}

			@if (op.Equals("*"))
			{

				<h2 id="num1">Number 1: @num1</h2>
				<h2 id="num2">Number 1: @num2</h2>

				<input id="input" type="text" placeholder="Enter Answer: " />

				<div class="containerButtons">
					<button>MUL</button>

				</div>

			}


			@if (op.Equals("/"))
			{


				<h2 id="num1">Number 1: @num1</h2>
				<h2 id="num2">Number 1: @num2</h2>

				<input id="input" type="text" placeholder="Enter Answer: " />

				<div class="containerButtons">
					<button>DIV</button>

				</div>

			}
		}

		<script>

			function getAdd() {
				
				const input = document.getElementById("input");
				const value = input.value;

				const addNum = @AddNumbers.AddNums.Add(num1, num2);
			
				
				if (value == addNum) {

					alert("Correct");
				}

			}

			function getSub() {

				const input = document.getElementById("input");
				const value = input.value;

				const SubNum = @WebApplication3.wwwroot.MathsFunctions.SubNums.Sub(num1, num2);


				if (value == SubNum) {

					alert("Correct");
				}

			}

			
			function getMul() {

				const input = document.getElementById("input");
				const value = input.value;

				const MulNum = @WebApplication3.MathsFunctions.MultNum.MulNum(num1, num2);


				if (value == MulNum) {

					alert("Correct");
				}

			}


			function getSub() {

				const input = document.getElementById("input");
				const value = input.value;

				const DivNum = @MainDiv.DivNums.DivNum(num1, num2);


				if (value == DivNum) {

					alert("Correct");
				}

			}


		</script>
	</main>
</body>
</html>